/* commit3 */
body{
    padding-top: 120px;
    font-family: "Open Sans", sans-serif;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
:root{
    --primary-color:#5d7df7;;
    --secondary-color: #fff;
    --dark-color: #222222;
    --white-color: #FFFFFF;
    /* --font-title: 'Poppins', sans-serif; */
    --spacing: 20px;
    --font-principal: "Open Sans", sans-serif;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing);
}
.navbar a{
    text-decoration: none;
    color: var(--dark-color);
    margin-left: 20px;
}
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
body{
    /* font-family: 'Poppins', sans-serif; */
    background-color: #fff;
    color: var(--dark-color);
    line-height: 1.6;
    font-family: "Manrope", sans-serif;
    /* font-family: var(--font-principal); */
}

h2{
    color: var(--primary-color);
}
h1{
    color: var(--primary-color);
}

button{
    background-color:#ff4db8;;
    --white-color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
}

.navbar a:hover{
    color: var(--primary-color);
}

.nav-link.active{
    color: var(--primary-color);
}
/* navbar */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.h1{
    color: var(--secondary-color);
}
